*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
body{
    background-color:antiquewhite;
    div{
        width: 90%;
       border: 3px solid purple;
       height: 40em; 
       background-repeat: no-repeat;
       background-position: center;
       background-size: contain;
       
    }
    h2{
        margin-top: 1em;
    }
    .alti-c{
        background-image: url(./6c.jpg);
    }
    .alti-c2{
        background-image: url(./6c-2.jpg);
    }
    .alti-b{
        background-image: url(./6b.jpg);
    }
    .alti-b2{
        background-image: url(./6b-2.jpg);
    }
    .yeddi-a{
        background-image: url(./);
    }
    .yeddi-a2{
        background-image: url(./);
    }
    .on-a-n{
        background-image: url(./10a-n.jpg);
    }
    .on-a-n2{
        background-image: url(./10a-n2.jpg);
    }
    .on-a-pr{
        background-image: url(./10a-pr.jpg);
    }
    .on-a-pr2{
        background-image: url(./10a-pr2.jpg);
    }
    .on-b-n{
        background-image: url(./10b-n.jpg);
    }
    .on-b-n2{
        background-image: url(./10b-n2.jpg);
    }
    .on-b-pr{
        background-image: url(./10b-pr.jpg);
    }
    .on-b-pr2{
        background-image: url(./10a-pr2.jpg);
    }
    .onbir-a-n{
        background-image: url(./11a-n.jpg);
    }
    .onbir-a-n2{
        background-image: url(./11a-n2.jpg);
    }
    .onbir-a-pr{
        background-image: url(./11a-pr.jpg);
    }
    .onbir-a-pr2{
        background-image: url(./11a-pr2.jpg);
    }
    .onbir-b-n{
        background-image: url(./11b-n.jpg);
    }
    .onbir-b-n2{
        background-image: url(./11b-n2.jpg);
    }
    .onbir-b-pr{
        background-image: url(./11b-pr.jpg);
    }
    .onbir-b-pr2{
        background-image: url(./11b-pr2.jpg);
    }
}